
body{
    min-width: 800px;
}

header{
    height: 80px;
}

header img{
    height: 100%;
}

#wrapper-game-instructions,
#wrapper-grid-bg
{
    height: calc(100vh - 160px);
}

#wrapper-game-instructions #game-instructions{
    width: 80%;
    height: 60%;
}

#grid-bg{
    width: 40vw;
    
}

#grid{
    
}

#game-result{
    height: 80px;
}

.box{

    cursor: crosshair;
}

.box.clicked{
    background-color:blue;
    color: white;
}

.box.clicked-mine{
    background-image: url("../img/mines.gif");
    background-size: cover;
    background-position: center;
    color: transparent;
}